@charset "utf-8";

// Based on github dark theme.

$color-fg-default: #c9d1d9;
$color-fg-muted: #8b949e;
$color-fg-subtle: #6e7681;
$color-canvas-default: #090809; //#0d1117;
$color-canvas-overlay: #161b22;
$color-canvas-inset: #010409;
$color-border-default: #30363d;
$color-border-muted: #21262d;
$color-neutral-muted: hsla(215, 8%, 47%, .4);
$color-accent-fg: #ff9d2c;
$color-accent-emphasis: #ff8800;
$color-accent-muted: rgba(56, 139, 253, .4);
$color-accent-subtle: rgba(56, 139, 253, .15);
$color-header-logo: #f0f6fc;
$color-primer-border-active: #f78166;


$brand-color:           $color-fg-muted !default;
$brand-color-light:     $color-header-logo !default;
$brand-color-dark:      $color-fg-subtle !default;

$site-title-color:      $brand-color-light !default;

$text-color:            $color-fg-default !default;
$background-color:      $color-canvas-default !default;
$code-background-color: $color-canvas-overlay !default;

$link-base-color:       $color-accent-fg !default;
$link-visited-color:    $link-base-color !default;
$link-hover-color:      $text-color !default;

$border-color-01:       $color-border-default !default;
$border-color-02:       $brand-color-light !default;
$border-color-03:       $brand-color !default;

$table-text-color:      $text-color !default;
$table-zebra-color:     $code-background-color !default;
$table-border-color:    $border-color-01 !default;
$table-header-bg-color: $background-color !default;
$table-header-border:   $table-border-color !default;


// Code syntax highlight based on Visual Studio Code default dark theme

.highlight {
  .c     { color: #6A9955 } // Comment
  .err   { color: #F07178; background-color: #E3D2D2 } // Error
  .k     { color: #B267E6 } // Keyword
  .o     { color: #C9D1D9 } // Operator
  .cm    { color: #6A9955 } // Comment.Multiline
  .cp    { color: #569CD6 } // Comment.Preproc
  .c1    { color: #6A9955 } // Comment.Single
  .cs    { color: #6A9955 } // Comment.Special
  .gd    { color: #000000; background-color: #FFDDDD } // Generic.Deleted
  .gd .x { color: #000000; background-color: #FFAAAA } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #F07178 } // Generic.Error
  .gh    { color: #999999 } // Generic.Heading
  .gi    { color: #000000; background-color: #DDFFDD } // Generic.Inserted
  .gi .x { color: #000000; background-color: #AAFFAA } // Generic.Inserted.Specific
  .go    { color: #888888 } // Generic.Output
  .gp    { color: #555555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #AAAAAA } // Generic.Subheading
  .gt    { color: #F07178 } // Generic.Traceback
  .kc    { color: #569CD6 } // Keyword.Constant
  .kd    { color: #569CD6 } // Keyword.Declaration
  .kn    { color: #569CD6 } // Keyword.Namespace
  .kp    { color: #569CD6 } // Keyword.Pseudo
  .kr    { color: #569CD6 } // Keyword.Reserved
  .kt    { color: #569CD6 } // Keyword.Type
  .m     { color: #B5CEA8 } // Literal.Number
  .s     { color: #CE9178 } // Literal.String
  .n     { color: #DCDCAA } // Name
  .na    { color: #9CDCFE } // Name.Attribute
  .nb    { color: #DCDCAA } // Name.Builtin
  .nc    { color: #4EC9B0 } // Name.Class
  .nd    { color: #4EC9B0 } // Name.Decorator
  .nl    { color: #9CDCFE } // Name.Label
  .no    { color: #569CD6 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #990000 } // Name.Exception
  .nf    { color: #DCDCAA } // Name.Function
  .nn    { color: #4EC9B0 } // Name.Namespace
  .nt    { color: #569CD6 } // Name.Tag
  .nv    { color: #9CDCFE } // Name.Variable
  .nx    { color: #9CDCFE } // Name.Other
  .k + .kd + .nx { color: #4EC9B0 } // Name.Class after Keyword.Declaration
  .ow    { color: #C9D1D9 } // Operator.Word
  .w     { color: #EEFFFF } // Text.Whitespace
  .mf    { color: #B5CEA8 } // Literal.Number.Float
  .mh    { color: #B5CEA8 } // Literal.Number.Hex
  .mi    { color: #B5CEA8 } // Literal.Number.Integer
  .mo    { color: #B5CEA8 } // Literal.Number.Oct
  .sb    { color: #CE9178 } // Literal.String.Backtick
  .sc    { color: #CE9178 } // Literal.String.Char
  .sd    { color: #CE9178 } // Literal.String.Doc
  .s2    { color: #CE9178 } // Literal.String.Double
  .se    { color: #EEFFFF } // Literal.String.Escape
  .sh    { color: #CE9178 } // Literal.String.Heredoc
  .si    { color: #CE9178 } // Literal.String.Interpol
  .sx    { color: #CE9178 } // Literal.String.Other
  .sr    { color: #D16969 } // Literal.String.Regex
  .s1    { color: #CE9178 } // Literal.String.Single
  .ss    { color: #CE9178 } // Literal.String.Symbol
  .bp    { color: #999999 } // Name.Builtin.Pseudo
  .vc    { color: #569CD6 } // Name.Variable.Class
  .vg    { color: #569CD6 } // Name.Variable.Global
  .vi    { color: #569CD6 } // Name.Variable.Instance
  .il    { color: #B5CEA8 } // Literal.Number.Integer.Long

  .language-css,
  .language-sass,
  .language-scss {
    .k     { color: #569CD6 } // Keyword
    .nb    { color: #CE9178 } // Name.Builtin
    .nc    { color: #DCDCAA } // Name.Class
    .nd    { color: #DCDCAA } // Name.Decorator
  }
}
